<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		ul.items {
			padding: 0;
			width: 50%;
			box-shadow: 0 0 10px 1px #ccc;
		}

		ul.items li {
			justify-content: space-between;
		    display: flex;
		    padding: 0.5em;
		}

		ul.items li:hover {
			background-color: #ccc;
		}

	</style>

</head>
<body>
	<h1>SHOP &raquo; Index</h1>

	<ul class="items">
	{% for product in products %}
		<li>
			<a href="#">{{ product.name }}</a>
			{{ product.price }}
		</li>
	{% endfor %}
	</ul>
</body>
</html>
